.truncated-desc {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-style {
  width: 14rem;
  height: 24rem;
  text-align: center;
}

.product-styled-border {
  transition-duration: 0.2s;
  transition-delay: 0s;
}

.product-styled-border:hover {
  position: relative;
  box-shadow: 0 0 15px 6px /* #ffd800; */ #fc010a;
  transform: translateY(-2px);
}
